<form class="row g-3 p-3" id="form" (ngSubmit)="handleSubmit()">
    <div class="text-size-3">Formularz</div>

    <div>
      <label for="inputPassword1" class="visually-hidden">Company name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="customer.name" id="CompanyName" placeholder="Company name" required="true">
    </div>

    <div>
        <label for="inputPassword2" class="visually-hidden">NIP</label>
        <input type="text" class="form-control" id="NIP" name="nip" [(ngModel)]="customer.nip" placeholder="NIP" required="true">
      </div>

      <div>
        <label for="inputPassword3" class="visually-hidden">City</label>
        <input type="text" class="form-control" id="City" placeholder="City" required="true">
      </div>

      <div>
        <label for="inputPassword4" class="visually-hidden">Street</label>
        <input type="text" class="form-control" id="Street" placeholder="Street" required="true">
      </div>

      <div>
        <label for="inputPassword5" class="visually-hidden">House Nr</label>
        <input type="text" class="form-control" id="HouseNr" placeholder="House Nr" required="true">
      </div>

      <div>
        <label for="inputPassword6" class="visually-hidden">Flat nr</label>
        <input type="text" class="form-control" id="FlatNr" placeholder="Flat nr" required="true">
      </div>

      <div>
        <label for="inputPassword7" class="visually-hidden">Postal Code</label>
        <input type="text" class="form-control" id="PostalCode" placeholder="Postal Code" required="true">
      </div>

      <div class="form-floating">
        <textarea class="form-control" placeholder="comments" id="comments" required="false"></textarea>
        <label for="floatingTextarea">Comments</label>
      </div>

      <div class="form-floating">
        <select class="form-select" id="Select" aria-label="Floating label select example" required="true">
          <option selected>Open this select menu</option>
          <option value="1">It</option>
          <option value="2">Economy</option>
          <option value="3">Match</option>
        </select>
        <label for="floatingSelect">Branch</label>
      </div>
      
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" id="check" autocomplete="off">
        <label for="btncheck1"> Active?</label></div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">confirm</button>
          </div>
        <div class="col-auto">
        <button type="button" class="btn btn-primary mb-3">addData</button>
      </div>
  </form>
